body {
  line-height: 2;
}

h1 {
  font-size: 2.1rem;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

.sender {
  margin-top: 46px;
}

.sender p,
.recipient p {
  margin: 0;
  line-height: 1.5;
}

.recipient,
.where-when {
  margin-left: 50%;
}

.recipient {
  margin-top: 24px;
}

.where-when,
.doc-title {
  margin-top: 50px;
}

.footer {
  margin-top: 80px;
}

.due-notice ul li {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  list-style-type: disc;
}

.payment-doc table {
  width: 100%;
  margin: auto;
}

.payment-doc .right {
  text-align: right;
}

.payment {
  text-align: justify;
}

.payment p {
  margin-top: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media screen and (min-width: 580px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1850px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.card .card-content .card-title {
  min-height: 65px;
}

.batch-card-delete {
  margin-top: 20px;
  text-align: right;
}

.batch-card-delete a {
  position: relative;
  bottom: -20px;
  right: -50px;
}
